<doctype html="">
  <head>
     <title>Eleclog Database</title>
     <link rel="stylesheet" href='../static/style.css'/>
  </head>

<h2>Eleclog Database</h2>



{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.select) }}
    <p>
      {{ render_field(form.search) }}
      <small>(<i>leave blank to return all entries</i>)</small>
  </p></dl>
  <p><input type=submit value=Search>
</p></form>
</doctype>